{% extends 'general.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!-- Aqui va lo que va cambiar-->

<h1>Papers</h1>
<div class="row">
{% for paper in papers %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ paper.title }}</h5>
                <a href="{% url 'paper_detail' paper.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}