{% extends 'general.html' %}

{% load static %}

{% block contenidoQueCambia %}

<!-- Aqui va lo que va cambiar-->

<section class="page-section about-heading">
    <div class="container">
      <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static '/img/about.jpg' %}" alt="" width="300" height="300">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Jean-Philippe Ursule </span>
                <br>
                <span class="section-heading-lower">Geologist</span>
              </h2>
              <p>I am a PhD in Sedimentology with 9 years of experience in oil and gas industry as Reservoir Geologist. I am mainly involved in projects dealing with primary, secondary and tertiary oil recovery processes in mature fields in Argentina. I have a strong knowledge in reservoir characterization integrating data from sedimentary cores analysis to seismic interpretation and 3D multi-scale static modeling in different tectonic settings. Highly enthusiastic about sedimentology processes, depositional systems and geomodeling methodologies, I am always willing to face new technical challenges in response of the needs of the oil industry.
                <br>
                <br>
                <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Jean-Philippe Ursule </span>
                <br>
                <span class="section-heading-lower">Geólogo</span>
              </h2>
              </p>
              <p>Tengo un doctorado en sedimentología con 9 años de experiencia en la industria del gas y petróleo como geólogo de estudios. Estoy principalmente involucrado en proyectos relacionados con procesos de recuperación primaria, secundaria y terciaria de petróleo en campos maduros en Argentina. Tengo un gran conocimiento en la caracterización de yacimientos integrando datos desde el análisis de coronas sedimentarios hasta la interpretación sísmica y el modelado estático multiescala 3D en diferentes entornos tectónicos. Altamente entusiasta de los procesos de sedimentología, sistemas deposicionales y metodologías de geomodelado, siempre estoy dispuesto a enfrentar nuevos desafíos técnicos en respuesta a las necesidades de la industria petrolera.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}