{% extends 'general.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>{{ paper.title }}</h1>
<div class="row">
    <div class="row">
        <h5>About the paper:</h5>
        <p><i>{{ paper.description }}</i></p>
        
        
    </div>
</div>
<a href="{% url 'EditPaper' paper.title %}" class="btn btn-outline-secondary btn-sm">Edit</a>
<a href="{% url 'DeletePaper' paper.title %}" class="btn btn-outline-danger btn-sm">Delete</a>

<p>
    <a href="{% url 'paper_index' %}">Return</a>
</p>
{% endblock %}