{% extends 'general.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Formulary- Edit Project</h1>
    
    {% if myFormulary.errors %}

    <p style="color: red;"> Error in the data, please check</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>

            {{ myFormulary.as_table }}

        </table>

        <input type="submit", value="Send", class="btn btn-primary">

    </form>

{% endblock %}