{% extends 'general.html' %}

{% load static %}

{% block contenidoQueCambia %}

<h1>{{ tutor.name_student }}</h1>
<div class="row">
    <div class="row">
        <h5>About the project of the student:</h5>
        <p>{{ tutor.description }}</p>
        <br>
       
    </div>
</div>
<a href="{% url 'EditTutor' tutor.name_student %}" class="btn btn-outline-secondary btn-sm">Edit</a>
<a href="{% url 'DeleteTutor' tutor.name_student %}" class="btn btn-outline-danger btn-sm">Delete</a>
<p>
    <a href="{% url 'tutor_index'  %}">Return</a> 
</p>

{% endblock %}